<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="/style-anime.css">
   <link rel="stylesheet" href="/login.css">
   <link rel="icon" href="../movie/favicon/32-323426_mark-clipart-redcheck-red-check-mark-png.png">
   <title>{{title}}</title>
</head>